In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv('IRIS.csv')
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [5]:
pd.get_dummies(df)

,sepal_length,sepal_width,petal_length,petal_width,species_Iris-setosa,species_Iris-versicolor,species_Iris-virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0,0,1
146,6.3,2.5,5.0,1.9,0,0,1
147,6.5,3.0,5.2,2.0,0,0,1
148,6.2,3.4,5.4,2.3,0,0,1
149,5.9,3.0,5.1,1.8,0,0,1

In [31]:
import math
print(df['sepal_length'].mean()+3*df['sepal_length'].std())
print(df['sepal_length'].mean()-3*df['sepal_length'].std())

1.4251337793383207
0.5748662206616787

In [17]:
df

     sepal_length  sepal_width  petal_length  petal_width         species
0        0.872790          3.5           1.4          0.2     Iris-setosa
1        0.838562          3.0           1.4          0.2     Iris-setosa
2        0.804335          3.2           1.3          0.2     Iris-setosa
3        0.787222          3.1           1.5          0.2     Iris-setosa
4        0.855676          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145      1.146606          3.0           5.2          2.3  Iris-virginica
146      1.078152          2.5           5.0          1.9  Iris-virginica
147      1.112379          3.0           5.2          2.0  Iris-virginica
148      1.061038          3.4           5.4          2.3  Iris-virginica
149      1.009698          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [11]:
X_train, X_test, y_train, y_test=train_test_split(df[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']],df['species'],test_size=0.2)

In [12]:
model=LogisticRegression()

In [14]:
model.fit(X_train, y_train)

LogisticRegression()

In [16]:
X_test

     sepal_length  sepal_width  petal_length  petal_width
30            4.8          3.1           1.6          0.2
102           7.1          3.0           5.9          2.1
9             4.9          3.1           1.5          0.1
49            5.0          3.3           1.4          0.2
127           6.1          3.0           4.9          1.8
32            5.2          4.1           1.5          0.1
130           7.4          2.8           6.1          1.9
141           6.9          3.1           5.1          2.3
10            5.4          3.7           1.5          0.2
5             5.4          3.9           1.7          0.4
138           6.0          3.0           4.8          1.8
87            6.3          2.3           4.4          1.3
124           6.7          3.3           5.7          2.1
0             5.1          3.5           1.4          0.2
12            4.8          3.0           1.4          0.1
51            6.4          3.2           4.5          1.5
66            5.6          3.0           4.5          1.5
79            5.7          2.6           3.5          1.0
83            6.0          2.7           5.1          1.6
42            4.4          3.2           1.3          0.2
35            5.0          3.2           1.2          0.2
63            6.1          2.9           4.7          1.4
106           4.9          2.5           4.5          1.7
13            4.3          3.0           1.1          0.1
74            6.4          2.9           4.3          1.3
107           7.3          2.9           6.3          1.8
95            5.7          3.0           4.2          1.2
82            5.8          2.7           3.9          1.2
41            4.5          2.3           1.3          0.3
122           7.7          2.8           6.7          2.0

In [17]:
y_test

30         Iris-setosa
102     Iris-virginica
9          Iris-setosa
49         Iris-setosa
127     Iris-virginica
32         Iris-setosa
130     Iris-virginica
141     Iris-virginica
10         Iris-setosa
5          Iris-setosa
138     Iris-virginica
87     Iris-versicolor
124     Iris-virginica
0          Iris-setosa
12         Iris-setosa
51     Iris-versicolor
66     Iris-versicolor
79     Iris-versicolor
83     Iris-versicolor
42         Iris-setosa
35         Iris-setosa
63     Iris-versicolor
106     Iris-virginica
13         Iris-setosa
74     Iris-versicolor
107     Iris-virginica
95     Iris-versicolor
82     Iris-versicolor
41         Iris-setosa
122     Iris-virginica
Name: species, dtype: object

In [19]:
model.predict([[5,2,3,1]])

C:\Users\USER\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array(['Iris-versicolor'], dtype=object)

In [23]:
model.score